@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');

#bigBoxHome {
    height: 100vh;
    border: 0.2px solid white;
    background-color: #ffffff;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.boxBtns{
    text-align: center;
    position: fixed;
    top: 60vh;
    right: 15vh;
}
.home-pic{
    width: 105rem;
    height: 30rem;
    background-image: url("https://c1.wallpaperflare.com/preview/127/366/443/library-book-bookshelf-read.jpg");

}
.tag-h{
    color: #000000;
    /* border: 2px solid red; */
    margin-left: 32rem;
    background: #FFFFFF;
    width: 43%;
    font-size: 35px;
}

.promo{
    display: flex;
    justify-content: center;
 
    margin-top: 2rem;
    align-items: center;
    background-color:rgb(255, 255, 255);
    box-shadow: rgb(28 28 28 / 20%) 0px 2px 8px;

}

.ab{
    width: 70%;
    margin-left: 20rem;
    margin-top: 5rem;
    font-size: 10px;
    background-color:rgb(255, 255, 255);
    box-shadow: rgba(14, 13, 13, 0.8) 0px 2px 8px;
}
.foot{
    color: #FFFFFF;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
  margin-top: 2rem;
    align-items: center;
    
}